/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
@import "bootstrap";


.top-bar{
	background: #0081a9 none repeat scroll 0 0;
    border-bottom: 5px solid #003f6e;
    float: left;
    height: 100px;
    margin: 0;
    min-width: 1160px;
    padding: 0;
    width: 100%;
}

.main_container{
	margin: auto;
    width: 980px;
}

.logo {
    float: left;
    height: 141px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 200px;
}
.header_login_detail {
    float: right;
    margin: 0px 0 0;
    padding: 0;
    background-color: #003F6E;
    border-radius: 0 0 5px 5px;
    height: 50px;
    position: relative;
    width: 53%;
}

.header_login_detail a {
    color: #fff !important;
    float: left;
    font-size: 16px;
    padding: 16px 15px !important;
}

a {
    -moz-user-select: none;
    color: #1155CC !important;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.wrapper {
    float: none;
    margin: 0 auto;
    padding: 0;
    width: 980px;
}

.navigation {
    float: right;
    margin: 11px 0 0;
    padding: 0;
    width: auto;
    background-color: #003F6E;
    border-radius: 5px 5px 0px 0px;
    clear: both !important;
}

ul.nav {
    float: left;
    margin: 0;
    padding: 0;
    width: 520px;
}

.nav.leftalign li a {
    clear: none !important;
    color: white !important;
    float: left;
    width: auto;
}

ul.nav li a {
    clear: both;
    color: black;
    float: left;
    margin: 0;
    padding: 11px 15px;
    text-decoration: none;
    width: 100%;
}

.nav > li > a {
    display: block;
}

body {
    color: #333333;
    font-size: 13px;
    line-height: 18px;
    font-family: "arial" !important;
    margin: 0px;
    padding: 0px;
}

.container.body-content {
    float: left;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle;
    border: 0;
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    color: #333333;
    font-size: 13px;
    line-height: 18px;
      font-family: "Open Sans","sans-serif";
 
}

.main_internal_contact {
    margin: auto;
    position: relative;
    width: 980px;
}
.main_internal_contact .interal_div {
    float: left;
    width: 500px;
}
.page_name {
    color: #ffffff;
    font-size: 70px;
    font-weight: bolder;
    opacity: 0.24;
    position: absolute;
    top: -100px;
}
.main_internal_contact span.heading {
    color: #ffb700;
    float: left;
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 20px;
    width: 100%;
}
.head_txt {
    color: red;
    margin: 0 0 7px;
}
p {
    font-size: 13px;
    line-height: 18px;
    margin: 0;
}
form {
    margin: 0 0 18px;
}
ul.contact-class {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 460px;
}
ul {
    list-style: outside none disc;
}
ul, ol {
    margin: 0 0 9px 25px;
    padding: 0;
}
ul {
    list-style: outside none none !important;
}
ul.contact-class label {
    float: left;
    margin: 20px 0 5px;
    width: 100%;
}
label {
    color: #333333;
    display: block;
    margin-bottom: 5px;
}
label, input, button, select, textarea {
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
}
ul.contact-class input {
    margin: 0;
    padding: 8px 7px 9px;
    width: 450px;
}
input, textarea {
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
input, textarea, select, .uneditable-input {
    border-radius: 0;
    color: #8c8c8c;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 9px;
    padding: 6px 5px;
    width: 210px;
}
input, button, select, textarea {
    font-family: Arial,sans-serif;
}
label, input, button, select, textarea {
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
}
button, input {
    line-height: normal;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: middle;
}
input, email, select {
    border: 1px solid #dadada;
    padding: 8px 5px 7px;
}
input, email, textarea {
    border: 1px solid #e3e3e3;
    float: left;
    padding: 8px;
    resize: none;
}
ul.contact-class li {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
ul.contact-class li input.button_color {
    background: #ffb600 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    margin: 15px 0;
    padding: 8px 15px;
    width: 125px;
}
.contact_map_class {
    float: left;
    width: 400px;
}
element.style {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
.contact_address {
    background: #f7f7f7 none repeat scroll 0 0;
    color: #565656;
    float: left;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    padding: 10px 0 20px 30px;
    width: 430px;
}
.contact_user {

}
.contact_user ul {
    float: left;
    margin: 0;
    padding: 0;
}
.contact_user ul li .icon-img {
    background: rgba(0, 0, 0, 0) url("../images/contact-user-icon.png") no-repeat scroll 0 0;
    float: left;
    height: 32px;
    margin: 0;
    padding: 0;
    width: 32px;
}
.contact_user ul li .right_side {
    float: right;
    margin: 0;
    padding: 0;
    width: 270px;
}
.contact_bottom {
    border-top: 1px solid #efefef;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.contact_bott_container {
    margin: 0 auto;
    width: 980px;
}
.contact_bott_left {
    float: left;
    margin: 10px 0;
    padding: 10px 0;
    width: 460px;
}
.contact_bott_left .ph-icon {
    background: rgba(0, 0, 0, 0) url("../images/contact-phone-icon.png") no-repeat scroll 0 0;
    float: left;
    height: 65px;
    margin: 0;
    padding: 0;
    width: 75px;
}
.contact_bott_left .right-cont {
    float: right;
    margin: 5px 0;
    padding: 0;
    width: 380px;
}
.contact_bott_right {
    float: left;
    margin: 10px 0;
    padding: 10px 0;
    width: 460px;
}
.contact_bott_right .email-icon {
    background: rgba(0, 0, 0, 0) url("http://www.reganassociates.org/email-marketing-icon-png-210.png") no-repeat scroll 0 0;
    float: left;
    height: 65px;
    margin: 0;
    padding: 0;
    width: 75px;
    background-size: 60px;
}
.contact_bott_right .right-cont h5 {
    color: #565656;
    float: left;
    font-size: 15px !important;
    font-weight: 300;
    line-height: 17px;
    margin: 0;
    padding: 0 2px;
    text-transform: none;
    width: 100%;
}
.right-cont h2 a {
    color: #ffb700;
    font-size: 30px;
    width: 100%;
}

body {
    color: #333333;
    font-size: 13px;
    line-height: 18px;
}
.choose_pick input {
  border: 1px solid #00dbff;
  color: #565656;
  float: left;
  margin: 0 10px 0 0;
  padding: 12px 15px;
  width: 170px;
}
 .car_van_radio .radio-btn span {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}
 .car_select_filed select {
    border: 7px solid #fff !important;
    float: left;
    height: 42px;
    margin: 1px 0 0;
    outline: 1px solid #e09b00;
    padding: 0;
    width: 170px;
}
 .choose_pick .next_btn input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border: medium none !important;
    color: #ffffff !important;
    float: left;
    margin: 0;
    padding: 8px 25px !important;
}

body {
    color: #333333;
    font-size: 13px;
    line-height: 18px;
  font-family: "arial" !important;
  margin:0px;
  padding:0px;
}
.nav.leftalign li a {
  clear: none !important;
  color: white !important;
  float: left;
  width: auto;
}
.Hover_button a {
    margin: 0;
    padding: 0 !important;
    line-height: 19px;
    position: relative;
    top: 4px;
    left:7px;
    width: 100%;
    text-align: center;
}
.header_login_detail a i {
    margin-right: 10px;
    margin-top: -10px;
    float: right;
}
.Hover_button ul li:last-child a:hover {
    background-color: #021E33;
    border-radius: 0px 0px 5px 5px;
}
.Dashboard_Dropdown {
    width: 149px;
}
.Hover_button ul li a {
  left: 0;
  line-height: 16px;
  padding-left: 34px !important;
  text-align: left;
  top: 0;
}
.Hover_button ul li a:hover{background-color:#021E33;}
.Hover_button:hover ul{display:block; left: -19px; }
.Dashboard_Dropdown ul {
    position: absolute;
    background-color: #003F6E;
    top: 40px;
    width: 172px;
    left: -19px;
    border-radius: 0px 0px 5px 5px;
    display:none;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}


.page_name {
    color: #ffffff;
    font-size: 70px;
    font-weight: bolder;
    opacity: 0.24;
    position: absolute;
    top: -100px;
}

.comp_register h2.com-title{width: 100% !important; padding:0 !important; text-align: center;}
.comp_register{width: 560px !important;
    margin: 70px 421px !important;}
   #dynamic_contact{
       height: 500px;
    overflow: hidden;
    float: left;
    width: 100%;
   }

   .comp_register input{margin-bottom:10px !important; margin-top:10px !important; }


   .choose_pick form span.fer h4 {
  margin: 0 !important;
}
   .container.body-content {
  float: left;
  width: 100%;
}
   .choose_pick input{
        width: 170px !important;
        float:left !important;
    }
.choose_pick select {
  border: 1px solid #00dbff;
  cursor: pointer;
  float: left !important;
  height: 41px;
  width: 170px !important;
}
   .Header_submit{float: left;
    width: 125px;
   }
#btnSubmit {
  background-color: #00e4ff;
  color: #ffffff;
  cursor: pointer;
  width: 100px !important;
}
   .choose_pick #drpdwn1{margin:0px 10px !important;}
.top_header {
  background: #0081a9 none repeat scroll 0 0;
  border-bottom: 5px solid #003f6e;
  float: left;
  height: 100px;
  margin: 0;
  min-width: 1160px;
  padding: 0;
  width: 100%;
}
.main_container {
    margin: auto;
    width: 980px;
}
.wrapper {
  float: none;
  margin: 0 auto;
  padding: 0;
  width: 980px;
}
.payyourorder {
  float: left;
  text-align: center;
  width: 100%;
}
.logo img {
  border-radius: 30px;
  box-shadow: none !important;
  height: 160px;
  overflow: hidden;
  position: relative;
  top: 10px;
  width: 80%;
  z-index: 999;
}
.right_header {
    float: right;
    margin: 0;
    padding: 0;
    width: 325px;
}

.header_login_detail a {
  color: #fff !important;
  float: left;
  font-size: 16px;
  padding: 16px 15px !important;
}

/*.header_login_detail a {
  color: #fff !important;
  float: left;
  font-size: 16px !important;
  padding: 16px;
}*/
.header_login_detail {
   float: right;
    margin: 0px 0 0;
    padding: 0;
    background-color: #003F6E;
    border-radius: 0 0 5px 5px;
        height: 50px;
}
.login-text {
    color: #ffffff;
    margin-top: 12px;
}
.notification_div {
    float: left;
    margin: 18px 5px 0 0;
    padding: 0;
    width: 145px;
}
.main_internal_contact {
  margin: 0 auto;
  width: 980px;
}
ul.acc_menu li .hover {
    left: 80px;
    position: absolute;
    top: -28px;
}
ul.acc_menu {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    width: 235px;
}
ul.acc_menu li ul li a:hover {
    background: #ffb700 none repeat scroll 0 0;
    color: #fff;
    float: left;
    padding: 8px 5px;
    text-decoration: none;
    width: 96%;
}

ul.acc_menu li ul.bubble::before {
    background: rgba(0, 0, 0, 0) url("../images/header_arrow.png") no-repeat scroll 200px 4px !important;
    content: "";
    display: block;
    height: 13px;
    left: 0;
    position: absolute;
    top: -13px;
    width: 100%;
    z-index: 0;
}

.login_btn {
    background: rgba(0, 0, 0, 0) url("../images/company-login-btn.png") no-repeat scroll 0 0;
    color: #ffffff;
    cursor: pointer;
    float: left;
    font-size: 13px;
    margin: 0 5px 0 0;
    padding: 5px 0 7px 30px;
    text-align: center;
    width: 116px;
}
.register_btn {
    background: rgba(0, 0, 0, 0) url("../images/regsiter-btn-header.jpg") no-repeat scroll 0 0;
    color: #ffffff;
    cursor: pointer;
    float: left;
    font-size: 13px;
    margin: 0;
    padding: 5px 0 7px 25px;
    text-align: center;
    width: 165px;
}
.comapny_login_btn {
    background: rgba(0, 0, 0, 0) url("../images/company-login-btn.png") no-repeat scroll 0 0;
    color: #ffffff;
    cursor: pointer;
    float: left;
    font-size: 13px;
    margin: 0;
    padding: 5px 0 7px 24px;
    text-align: center;
    width: 156px;
}
.navigation {
    float: right;
    margin: 11px 0 0;
    padding: 0;
    width: auto;
        background-color: #003F6E;
    border-radius: 5px 5px 0px 0px;
    clear:both !important;
}
ul.nav {
    float: left;
    margin: 0;
    padding: 0;
    width: 520px;
}
.nav {
    list-style: outside none none;
    margin-bottom: 18px;
    margin-left: 0;
}
ul {
    list-style: outside none disc;
}
ul, ol {
    margin: 0 0 9px 19px;
    padding: 0;
}
ul {
    list-style: outside none none !important;
}
element.style {
    height: 200px;
    width: 100%;

}
#dynamic_contact img {
  width: 100%;
}
ul.nav li a {
  clear: both;
  color: black;
  float: left;
  margin: 0;
  padding: 11px 15px;
  text-decoration: none;
  width: 100%;
}
.nav > li > a {
    display: block;
}
a {
    color: #0088cc;
    text-decoration: none;
}
a {
    border: 0 none;
    text-decoration: none;
}
/*.register_div {
    float: none !important;
    margin: 100px auto !important;
    width: 100% !important;
}*/
.rem_signdiv {
    padding: 20px; background-color: rgb(0, 129, 169);
}
.login_mem {
    padding: 0px 22px;
    float: left;
    width: 95%;
}
.login_heading h3{margin:20px 0px !important; width: 89% !important;}
.login_container{width: 250px !important; box-shadow: 1px 0 5px 1px rgba(140, 140, 140, 0.75) !important;}
.main_internal_contact .interal_div{     float: left !important;
    margin: 50px auto;}
.bottom_content {
    float: left;
    width: 100%;
}
.register_div ul.reg-sign li{width:100%;}
label, input, button, select, textarea{ float: left;
    width: 100%;}
.register_div .login_signbtn-cont{float:left !important; cursor:pointer;}
.register_div .login_signbtn-cont .login-btn{
        color: #ffffff !important;
    float: left !important;
    margin: 0 !important;
    padding: 10px !important;
    text-align: center !important;
}
.How_it_work {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.how_it_work_mainDiv {
  float: none;
  margin: 0 auto;
  width: 980px;
}
.footer {
  background: #0081a9 none repeat scroll 0 0;
  float: left;
  margin: 40px 0 0;
  min-width: 1160px;
  padding: 0;
  width: 100%;
}
.footer_container {
    margin: auto;
    width: 980px;
}
.footer_content {
    float: left;
    margin: 30px 0 20px;
    padding: 0;
    width: 980px;
}
.footer_menu {
    float: left;
    margin: 0;
    padding: 0;
    width: 220px;
}
.footer-title {
    float: left;
    margin: 0;
    padding: 0;
    width: 205px;
}
ul.footer-nav {
    float: left;
    margin: 0;
    padding: 0;
}
ul.footer-nav li {
    background: rgba(0, 0, 0, 0) url("../images/footer-nav-arrow.png") no-repeat scroll 0 7px;
    display: inline;
    float: left;
    list-style-type: none;
    margin: 0 0 5px;
    padding: 0 0 0 15px;
    width: 185px;
}
li {
    line-height: 18px;
}
ul.footer-nav li a {
    color: #fff;
    float: left;
    font-size: 13px;
    margin: 0;
    padding: 0;
}
ul.footer-nav li a:hover {
    text-decoration: underline;
}
.footer_addrs {
    float: left;
    margin: 0;
    padding: 0;
    width: 265px;
}
.footer_addrs span {
    color: #fff;
    float: left;
    font-size: 13px;
    margin: 0;
    padding: 0;
}
.footer-title h2 {
    color: #ffb700;
    float: left;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    width: 200px;
}
.get-download .btnapp {
    float: left;
    margin: 3px 0 8px;
    padding: 0;
}
a img {
    border: 0 none;
}
.footer-soc-content {
    float: left;
    margin: 0;
    padding: 0;
    width: 200px;
}
ul.footer-soc {
    float: left;
    margin: 0;
    padding: 0;
}
ul.footer-soc li span {
    line-height: 20px;
    margin: 0;
    padding: 0;
}
ul.footer-soc li a {
    color: #fff;
    float: left;
    margin: 0;
    padding: 0;
}
ul.footer-soc li {
    display: inline;
    float: left;
    list-style-type: none;
    margin: 5px 0 3px;
    padding: 0;
    width: 200px;
}
.get-download {
    float: left;
    margin: 0;
    padding: 0;
    width: 275px;
}
.footer_divider {
    float: left;
    margin: 0;
    padding: 0;
}
.footer-bottom {
    float: left;
    margin: 20px 170px;
    padding: 0;
    width: 680px;
}
.footer-bottom .call-texi-cont {
    float: left;
    margin: 0;
    padding: 0;
    width: 330px;
}
.footer-bottom .call-texi-cont .icon {
    float: left;
    margin: 0;
    padding: 0;
}
.footer-bottom .call-texi-cont .right-text {
    float: right;
    margin: 0;
    padding: 0;
    width: 275px;
}
.footer-bottom .call-texi-cont .right-text h2 {
    color: #ffb700;
    float: left;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 1px 0 5px;
    padding: 0;
    width: 275px;
}

.color-white {
    color: #ffffff;
}
.footer-bottom .call-texi-cont .right-text a:hover {
    text-decoration: underline;
}
.footer-bottom .call-texi-cont .right-text span {
    color: #ffffff;
    float: left;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.copy-right-content{clear: both;}

body {
    color: #333333;
    font-size: 13px;
    line-height: 18px;
  font-family: "Open Sans","sans-serif";
}
.login-bg {
    background: rgba(0, 0, 0, 0) url("../images/login-bg.png") repeat-x scroll 0 bottom;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.main_internal_contact .interal_div {
    float: left;
    
}
#choose_pick form {
    margin: 0 auto !important;
    width: 78%;
}
.page_name {
    color: #ffffff;
    font-size: 70px;
    font-weight: bolder;
    opacity: 0.24;
    position: absolute;
    top: -100px;
}
.login_heading h3 {
  color: #252525;
  float: left;
  font-size: 23px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
}
h3 {
    font-size: 18px;
    line-height: 27px;
}
.register_div {
    float: left;
}
.login_container {
    background: #FFFAFA none repeat scroll 0 0;
    box-shadow: 1px 0 5px -2px rgba(140, 140, 140, 0.75);
    float: left; padding-bottom:10px;
    margin: 0 auto;
    border: 1px solid #F5EFEF;
     
    box-shadow: none !important;
    width: 100% !important;
    /* margin: 0 auto; */
}

.btn2 {
  background: rgb(255, 184, 3) none repeat scroll 0 0;
  color: #fff;
  font-size: 19px;
  margin-left: 10px;
  margin-top: 11px;
  padding: 8px;
}
span.field-validation-error.text-danger {
    position: absolute;
    left: 9px;
    bottom: -16px;
}
.header_login_detail{position:relative;width:53%;}


.deshb ul {list-style:none; 
}

.deshb ul li {list-style:none;
}

.deshb ul ul{display:none;}
.deshb ul li:hover ul{display:block;}


.dash-menu ul { 
}

h6:hover ul {display:block;
}



.regis1 input
 {width:200px !important;}

.regis1 li {
width:200px !important;}

.login_mem_left h3{margin:0px !important;}

.rem_signdiv span {margin-left:10px; color:#fff;
}

.btn1{padding:8px; font-size:19px; margin-top:22px; background:rgb(255, 184, 3); color:#fff;}

.login_mem_left {
    float: left;
    width: 300px;
}
.login_mem_right{float:right;}


.register_div label{width:180px; float:left; line-height:22px; font-weight:bold; color:#fff;}

.register_div ul.reg-sign li{width:300px !important; position:relative;}

.register_div input[type="text"], .register_div input[type="password"]  {padding: 13px !important;
    resize: none;
    width: 290px !important;
}

form {
    margin: 0 0 18px;
}
.register_div ul.reg-sign {
  float: left;
  width: 100%;
}
.register_div ul.reg-sign li .input-text {
   
    color: #565656;
    float: left;
    margin: 0;
    padding: 10px;
    width: 210px;
}
input, textarea {
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.register_div ul.reg-sign li {
  display: inline-block;
  float: left;
  list-style-type: none;
  padding: 26px 5px 5px 0;
}
li {
    line-height: 18px;
}
input[type="image"], input[type="checkbox"], input[type="radio"] {
    border-radius: 0;
    cursor: pointer;
    height: auto;
    line-height: normal;
    margin: 3px 0;
    padding: 0;
    width: auto;
}
.register_div .login_signbtn-cont {
    float: right;
    margin: 20px 20px 20px;
    padding: 0;
}

   .login-btn {
    background: #252525 url("../images/black-btn-bg.jpg") no-repeat scroll right center;
    border: 1px solid #1c1c1c;
    border-radius: 4px;
    color: white;
    margin: 53px -78px 77px 189px;
    padding: 10px;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	background-color: #FFF;
}
a {
	-moz-user-select: none;
	color: #1155CC !important;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#frame1, #frame0 {
	background-color: #F7F7F7;
	margin: 30px auto auto;
	padding: 10px;
	width: 750px;
	border: 1px solid #EEE;
}
#fade {
	background: none repeat scroll 0 0 #D3DCE3;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0.4;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}
#centerBox {
	background-color: #FFFFFF;
	border: 5px solid #FFFFFF;
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	display: none;
	max-height: 480px;
	overflow: auto;
	visibility: hidden;
	width: 710px;
	z-index: 100;
}
.box1 {
	background: none repeat scroll 0 0 #F3F7FD;
	border: 1px solid #D3E1F9;
	font-size: 12px;
	margin-top: 5px;
	padding: 4px;
}
.button1 {
	background-color: #FFFFFF;
	background-image: -moz-linear-gradient(center bottom, #EDEDED 30%, #FFFFFF 83%);
	border-color: #999999;
	border-radius: 2px 2px 2px 2px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	color: #333333;
	cursor: pointer;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: 700;
	height: 25px;
	line-height: 24px;
	margin-right: 2px;
	min-width: 40px;
	padding: 0 16px;
	text-align: center;
	text-decoration: none;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
}
.button1:hover {
	text-decoration: underline;
}
.button1:active, .a:active {
	position: relative;
	top: 1px;
}
#container {
	width: 100%;
	text-align: center;
	position: relative;
}
.location {
    background-color: #FFFFFF;
    /* border-color: #A0A0A0 #B9B9B9 #B9B9B9; */
    border-style: solid;
    border-width: 1px;
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset; */
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 9px;
    width: 200px;
}
.htlpText {
	background-color: #F4F4F4;
	border: 1px solid #DEDEDE;
	color: #595959;
	display: inline-block;
	font-size: 13px;
	margin-top: 10px;
	padding: 10px 15px;
}
.table {
	border: 1px solid #EDEDED;
	border-collapse: collapse;
	color: #333333;
	font-family: verdana,Helvetica,sans-serif;
	font-size: 12px;
}
.table td {
	background-color: #F8F8F8;
	border: 1px solid #EDEDED;
	border-collapse: collapse;
	padding: 2px 4px;
}


body{
  background-image: url("http://2.bp.blogspot.com/-GuZ58HZX98o/U1k1p-E9McI/AAAAAAAAElU/PJ3axbyxqh8/s1600/21.JPG");
  font-size: 16px;
}

html,body { height: 100%; }

.jumbotron {
  background: url(http://2.bp.blogspot.com/-GuZ58HZX98o/U1k1p-E9McI/AAAAAAAAElU/PJ3axbyxqh8/s1600/21.JPG) no-repeat center center;
  background-size: 100% 100%;
  height: 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
}

body {
    color: #333333;
    font-size: 13px;
    line-height: 18px;
  font-family: "Open Sans","sans-serif";
}
.main_internal_contact .interal_div {
    float: left;
    width: 500px;
}

.comp_register form table {
  float: left;
  margin: 0 auto;
  text-align: right;
  width: 100%;
}
.comp_register form table td {
  float: left;
  padding-left: 7%;
  text-align: left;
  width: 92%;
}

.comp_register {
    background:rgb(0, 129, 169) none repeat scroll 0 0;
    border: 1px solid #e3e3e3;
    float: left;
    margin: 25% 15px 10%;
    padding: 0;
    width: 960px;
    margin:0 0 0 0;
}
.comp_register h2.com-title {
   color:#fff;
   float: left;
   font-size: 23px;
   font-weight: 300;
   margin: 0;
   padding:20px 0px !important;
   width: 930px;
}
h2 {
    font-size: 24px;
    line-height: 36px;
}
.comp_register ul li .input {
    border: 1px solid #e3e3e3;
    color: #565656;
    float: left;
    margin: 0;
    padding: 10px;
    width: 258px;
}

input, textarea {
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.uneditable-input {
    border-radius: 0;
    color: #8c8c8c;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 9px;
    padding: 6px 5px;
    width: 210px;
}
.comp_register label {
  color: #fff;
  float: left;
  font-size: 13px;
  line-height: 20px;
  margin: 18px 0;
  padding: 0;
  width: 26%;
}

td span.field-validation-error.text-danger {
  bottom: -18px;
  font-size: 12px;
  left: 14px;
  position: relative;
}
.comp_register .submit_btn {
    float: left;
    width: 100%;
    text-align: center;
}
input.comp_reg {
    float: none;
}
.comp_register ul .submit_btn input.comp_reg {
    background-color: #ffb700;
    border: 1px solid #e6a000;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 16px;
    margin-top: 10px;
    padding: 7px 16px;
}
input[type="button"], input[type="reset"], input[type="submit"] {
    height: auto;
    width: auto;
}

body {
    color: #333333;
    font-size: 13px;
    line-height: 18px;
  font-family: "arial" !important;
  margin:0px;
  padding:0px;
}
.nav.leftalign li a {
  clear: none !important;
  color: white !important;
  float: left;
  width: auto;
}
.Hover_button a {
    margin: 0;
    padding: 0 !important;
    line-height: 19px;
    position: relative;
    top: 4px;
    left:7px;
    width: 100%;
    text-align: center;
}
.header_login_detail a i {
    margin-right: 10px;
    margin-top: -10px;
    float: right;
}
.Hover_button ul li:last-child a:hover {
    background-color: #021E33;
    border-radius: 0px 0px 5px 5px;
}
.Dashboard_Dropdown {
    width: 149px;
}
.Hover_button ul li a {
  left: 0;
  line-height: 16px;
  padding-left: 34px !important;
  text-align: left;
  top: 0;
}
.Hover_button ul li a:hover{background-color:#021E33;}
.Hover_button:hover ul{display:block; left: -19px; }
.Dashboard_Dropdown ul {
    position: absolute;
    background-color: #003F6E;
    top: 40px;
    width: 172px;
    left: -19px;
    border-radius: 0px 0px 5px 5px;
    display:none;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}


.page_name {
    color: #ffffff;
    font-size: 70px;
    font-weight: bolder;
    opacity: 0.24;
    position: absolute;
    top: -100px;
}
.choose_pick {
  background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0 !important;
  box-shadow: 0 0 6px 0 rgba(50, 50, 50, 0.75) !important;
  display: flex !important;
  left: 0 !important;
  margin: auto !important;
  padding: 17px 20px !important;
  position: absolute !important;
  right: 0 !important;
  top: 290px !important;
  width: 950px !important;
  z-index: 99 !important;
}
.comp_register h2.com-title{/* width: 100% !important; */padding:0 !important;text-align: center;}
.comp_register{width: 560px !important;
    margin: 70px 421px !important;}
   #dynamic_contact{
       height: 500px;
    overflow: hidden;
    float: left;
    width: 100%;
   }

   .comp_register input{margin-bottom:10px !important; margin-top:10px !important; }


   .choose_pick form span.fer h4 {
  margin: 0 !important;
}
   .container.body-content {
  float: left;
  width: 100%;
}
   .choose_pick input{
        width: 170px !important;
        float:left !important;
    }
  .choose_pick select {
  border: 1px solid #00dbff;
  cursor: pointer;
  float: left !important;
  height: 41px;
  width: 170px !important;
}
   .Header_submit{float: left;
    width: 125px;
   }
   .choose_pick #drpdwn1{margin:0px 10px !important;}
.top_header {
  background: #0081a9 none repeat scroll 0 0;
  border-bottom: 5px solid #003f6e;
  float: left;
  height: 100px;
  margin: 0;
  min-width: 1160px;
  padding: 0;
  width: 100%;
}
.main_container {
    margin: auto;
    width: 980px;
}

ul.nav {
    float: left;
    margin: 0;
    padding: 0;
    width: 520px;
}
.nav {
    list-style: outside none none;
    margin-bottom: 18px;
    margin-left: 0;
}
ul {
    list-style: outside none disc;
}
ul, ol {
    margin: 0 0 9px 19px;
    padding: 0;
}
ul {
    list-style: outside none none !important;
}
element.style {
    height: 200px;
    width: 100%;

}
#dynamic_contact img {
  width: 100%;
}
ul.nav li a {
  clear: both;
  color: black;
  float: left;
  margin: 0;
  padding: 11px 15px;
  text-decoration: none;
  width: 100%;
}
.nav > li > a {
    display: block;
}
a {
    color: #0088cc;
    text-decoration: none;
}
a {
    border: 0 none;
    text-decoration: none;
}
ul.nav li {
    color: #fff;
    font-size: 15px;
    list-style-type: none;
}
li {
    line-height: 18px;
}
ul.footer-nav li a {
    color: #fff;
    float: left;
    font-size: 13px;
    margin: 0;
    padding: 0;
}
ul.footer-nav li a:hover {
    text-decoration: underline;
}

.color-white {
    color: #ffffff;
}

.footer-bottom .call-texi-cont .right-text a {
    color: #fff;
}

.main_internal_contact .interal_div {
    float: left;
}
h3 {
    font-size: 18px;
    line-height: 27px;
}

button, input {
    line-height: normal;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: middle;
}
input, email, select {
    border: 1px solid #dadada;
    padding: 8px 5px 7px;
}

.float-right {
    float: right !important;
}
.register_div .login_signbtn-cont .login-btn {
    color: #ffffff;
    float: left;
    margin: 0;
    padding: 7px 37px 5px 13px;
    text-align: left;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

table {
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    font-variant: normal normal;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.comp_register form table td {
    float: right;
    padding-left: 7%;
    text-align: left;
}

tbody tr:nth-child(even) {
  background: rgb(0, 129, 169) none repeat scroll 0 0;
}

tbody{
  background: rgb(0, 129, 169) none repeat scroll 0 0;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}

input[type="submit"]:disabled {
    cursor: default;
    pointer-events: none;    
}