<footer>
    <div class="footer">
        <div class="footer_container">
            <div class="footer_content">
                <div class="footer_menu">
                    <div class="footer-title">
                      
                    </div>
                    
    <ul class="footer-nav">
            <li class="select">
                <a href="../Frontpage/Frontimages?param=23">
                    About Us
                </a>
            </li>
            <li class="select">
                <a href="../Frontpage/Frontimages?param=25">
                    How it  Work
                </a>
            </li>
            <li class="select">
                <a href="../Frontpage/Frontimages?param=28">
                    Partners
                </a>
            </li>


        <li>
            <a href="/ubarcab/Frontpage/ContactUs">Contact Us</a>
        </li>


    </ul>

</div>
                <div class="footer_addrs">
                    <div class="footer-title">
                        <h2>Address</h2>
                    </div>
                    <span>M/S RV Technologies Softwares Pvt Ltd, Quiet Office 7, 2nd Floor, 40 B, Chandigarh.</span>
                </div>
                <div class="get-download">
                    <div class="footer-title">
                        <h2>Get Downloads</h2>
                    </div>
                    <span class="btnapp">
                        <a href="#">
                            <img src="https://www.kingcabby.com/Resources/images/footer-app-store.png">
                        </a>
                    </span>
                    <span class="btnapp">
                        <a href="#">
                            <img src="https://www.kingcabby.com/Resources/images/footer-google-play-btn.png">
                        </a>
                    </span>
                </div>
                <div class="footer-soc-content">
                    <div class="footer-title">
                        <h2>Follow Us On</h2>
                    </div>
                    <ul class="footer-soc">
                        <li>
                            <a href="https://www.facebook.com/RVTechnologies">
                                <img class="img" src="https://www.kingcabby.com/Resources/images/footer-facebook-icon.png">
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/rvtechnologies">
                                <img class="img" src="https://www.kingcabby.com/Resources/images/footer-twitter-icon.png">
                                <span>Twitter</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img class="img" src="https://www.kingcabby.com/Resources/images/footer-google-icon.png">
                                <span>Google+</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer_divider">
                <img src="https://www.kingcabby.com/Resources/images/footer-divider-img.png">
            </div>
            <div class="footer-bottom">
                <div class="call-texi-cont">
                    <div class="icon">
                        <img src="https://www.kingcabby.com/Resources/images/call-a-texi-number-icon.png">
                    </div>
                    <div class="right-text">
                        <h2> Contact Us </h2>
                        <span>+91-1724416590</span>
                    </div>
                </div>
                <div class="call-texi-cont">
                    <div class="icon">
                        <img src="https://www.kingcabby.com/Resources/images/footer-email-icon.png">
                    </div>
                    <div class="right-text">
                        <h2>Email</h2>
                        <span>
                            <a class="color-white" href="contact@rvtechnologies.co.in">contact@rvtechnologies.co.in</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_container">
            <div class="copy-right-content">
                <span>© 2015. RV Technologies, All Rights Reserved.</span>
            </div>
        </div>
    </div>
    <div class="footer-copy-right">
        
    </div>
</footer>